<header class="p-5 w-full min-h-[80px] flex flex-row items-center justify-start gap-5 bg-white border-0 border-gray-100">
    <div 
        class="menu-button w-[48px] h-[48px] flex items-center justify-center p-3 cursor-pointer aspect-square hover:bg-black hover:text-gray-50"
         (click)="handleOpenAside()">
            <i class="pi pi-home text-xl"></i>
    </div>
    <div>
        <p class="text-gray-500">Sistema de Gestión Hotelera</p>
        <p>Dashboard Principal</p>
    </div>
</header>