<aside class="h-screen p-5 flex flex-col items-start gap-5 bg-white">
    <p class="p-1 w-full text-lg font-bold border-b border-gray-500">CRM</p>
    <nav class="w-full flex flex-col gap-2 overflow-y-auto flex-1">
        <a *ngFor="let item of menuItems" [routerLink]="item.path"
            class="p-2 flex items-center gap-2 border border-gray-900 hover:bg-black hover:text-white">
            <ng-container *ngIf="item.data">
                <i [class]="item.data['icon'] + ' text-xl'"></i>
                <span>{{ item.data['title'] }}</span>
            </ng-container>
        </a>
    </nav>
</aside>